name: Verify Repository Access
on:
  issues:
    types: [opened]
  pull_request:
    typed: [opened]
jobs:
  verify_repository_access:
    strategy:
      matrix:
        node-version: [13.x, 14.x]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: yarn cache directory
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Setup node_modules cache
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          rest  ore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Verify Repository Access
        uses: ./
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
