name: Create issue on commit
on:
  issues:
    types: [opened]
jobs:
  create_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Create comment on specific issue
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues/14/comments \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "body": "This is an auto comment! \n"
            }'